asgiref==3.7.2
beautifulsoup4==4.12.3
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
crispy-bootstrap4==2023.1
Django==5.0.3
django-bootstrap4==24.1
django-crispy-forms==2.1
django-parler==2.3
django-rosetta==0.10.0
django-widget-tweaks==1.5.0
gTTS==2.5.0
idna==3.6
polib==1.2.0
psycopg2-binary==2.9.9
pygame==2.5.2
pyttsx3==2.90
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==2.1.0
