{% extends 'base.html' %}

{% block content %}
<div class="section">
<header>Tentang Urban Dictionary ID</header>
<p>
    <h4>Selamat Datang di Kamus Kota!</h4>
    Kamus Kota adalah kamus daring yang terbuka untuk semua orang, tempat di mana kita bisa bersama-sama merayakan keberagaman bahasa dan budaya di Indonesia. Di sini, kita dapat mengeksplorasi ragam slang dari seluruh penjuru tanah air, baik itu slang asli Indonesia atau slang yang diadopsi dari luar negeri.
    <br><br>
    <h4>Bagaimana Cara Berkontribusi?</h4>
    Anda bisa turut serta dalam Kamus Kota dengan menambahkan definisi-definisi baru, entah itu slang yang sedang tren, ungkapan populer, atau kata-kata khas dari daerah tertentu. Kami mengundang Anda untuk membagikan makna yang sering Anda menggunakan setiap hari.
    <br><br>
    Cara Menggunakan Kamus Kota:
    <ol>
        <li>Cari Istilah: Gunakan fitur pencarian untuk menemukan istilah yang ingin Anda ketahui lebih lanjut.</li>
        <li>Tambahkan Definisi: Jika Anda menemukan istilah yang belum terdaftar, tambahkan definisinya beserta pengalaman atau konteks penggunaannya.</li>
        <li>Definisi Duplikat: Jika ada definisi yang terdaftar dan kurang tepat bagi Anda, tambahkan saja definisi dengan opini Anda sendiri.</li>
    </ol>
</p>
</div>
{% endblock %}