<!DOCTYPE html>
<html>
  <head>
    <title>Urban Dictionary Indonesia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    {% include 'navbar.html' %}

    {% block content %} 
        replace moi

    <h1>{{ request.user }}</h1>
    {% endblock %}

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>