{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block content %}
<!-- Pop Up for Tags -->
<div class="popup" id="List-Tags">
  <div class="overlay"></div>
    <div class="popup-content">
      <div class="popup-header">
        <h5>{% trans 'list-tag' %}</h5>
        <div onclick="togglePopUp()" class="btn-close">&times;</div>
      </div>
      <div class="popup-body">
        {% for tags in filter %}
          <button onclick="location.href=`{% url 'home' %}?q={{ tags.name }}`" class="btn-tertiary">{{ tags.name }}</button>
        {% endfor %}
      </div>
  </div>
</div>

<div class="homepage">
  <!-- ----------------- -->
  <!-- Left Side Content -->
  <!-- ----------------- -->
  <!-- <div class="lside-content">
    {% for tags in filter %}
      <button onclick="location.href=`{% url 'home' %}?q={{ tags.name }}`" class="btn-submit">{{ tags.name }}</button>
      <br>
    {% endfor %}

    <button onclick="location.href=`{% url 'home' %}`" class="btn-submit">Reset ↻</button></a>
  </div> -->

  <!-- --------- -->
  <!-- User Page -->
  <!-- --------- -->
  {% if page == 'user' %}
    <div class="main-container">
      <div class="divide-split padding-30 margin-side-15 center">
        <h2>{{ user.username }}</h2>
        
        <div class="custom-border">
          <p>{% trans 'join-date' %} {{ user.date_joined }}</p>
          <p>{{ user.username }} {% trans 'has-created' %} {{ count }} {% trans 'definition' %}</p>
          <p>{% trans 'last-login' %} {{ user.last_login }}</p>
        </div>
      </div>

      <!-- Word Content -->
      <div class="content-split padding-side-20">
        <div class="sidebar padding-side-20">
          <h4><i class="fa fa-cubes" aria-hidden="true"></i> {% trans 'word-categories' %}</h4>

          {% for tags in filter %}
            <a href="{% url 'home' %}?q={{ tags.name }}" class="space-between margin-5">
              <span class="font-weight-600">{{ tags.name }}</span>
              <span class="btn-icon">{{ tags.word_count }}</span>
            </a>
          {% endfor %}
        </div>
        
        <section>
        <!-- <h2>WoTD! - Word of The Day</h2> -->
          {% for instance in object_list %}
          <div class="word-list" id="List-Words">
            <div class="word-def">
              <h4>
                <a style="font-weight: bold;" href="{{ instance.get_absolute_url }}">{{ instance.word }}</a>
                <button class="borderless-trans font-weight-600" onclick="playSound('{{ instance.pronunciation.pronunciation.url }}')"> <!-- location.href=`{% url 'word:speech' pk=instance.pk %}` -->
                  <i class="fa fa-volume-up" aria-hidden="true"></i>
                </button>
              </h4>

              <p>{{ instance.definition|linebreaks }}</p>
              {% for tag in instance.tags.all %}
                <a href="{% url 'home' %}?q={{ tag.name }}" style="margin-right: 5px; display: inline; text-wrap:inherit;">• {{ tag.name }}</a>
              {% endfor %}
            </div>

            <div class="word-detail">
              <div class="rating" data-rating="{{ instance.rating }}"></div>
              <p><i class="fa fa-user-o" aria-hidden="true"></i> {% trans 'by'|capfirst %} <a href="{% url 'user' pk=instance.user.id %}">{{ instance.user }}</a></p>
              <p><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ instance.date }}</p>
            </div>

            <div class="word-interact">
              <div class="flex-row">
                <button class="borderless-trans " id="positive" onclick="location.href=`{% url 'word:upvotes' word_id=instance.pk %}`, toggleP()"><h5>
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                  {{ instance.up }}
                </h5></button>

                <button class="borderless-trans " id="negative" onclick="location.href=`{% url 'word:downvotes' word_id=instance.pk %}`, toggleN()"><h5>
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                  {{ instance.down }}
                </h5></button>
              </div>
              
              <div class="word-interactions">
                {% if request.user.id == user.id %}
                  <button class="btn-tertiary"  onclick="location.href=`{% url 'word:edit' instance.pk %}`">
                    {% trans 'edit' %} <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>
                  <button class="btn-tertiary danger-border"  onclick="location.href=`{% url 'word:delete' instance.pk %}`">
                    {% trans 'delete' %} <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                {% endif %}
                <button class="btn-tertiary" onclick="location.href=`{% url 'database:form' instance.pk %}`">
                  {% trans 'report'|capfirst %} <i class="fa fa-flag" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          {% endfor %}
        </section>
      </div>
    </div>

  <!-- ------------- -->
  <!-- Base Homepage -->
  <!-- ------------- -->
  {% else %}
    <div class="main-container">
      {% if query != '' %}
      <div class="padding-30 margin-side-15">
        <h2><a href="{% url 'home' %}">
          {{ query }}
          <i class="fa fa-times" aria-hidden="true"></i>
        </a></h2>
      </div>
      {% else %}
        <section class="hero-section">
          <div class="hero-text">
            <h2><header>{% trans 'hero-header' %}</header></h2>
            <p>
              {% if LANGUAGE_CODE == 'en' %}
                <strong>{% trans 'first' %}</strong> {% trans 'hero-paragraph-1' %} 
              {% else %}
                {% trans 'hero-paragraph-1' %} <strong>{% trans 'first' %}</strong> 
              {% endif %}
              {% trans 'hero-paragraph-2' %} 
              {% trans 'hero-paragraph-3' %} <strong>{% trans 'you' %}!</strong> {% trans 'hero-paragraph-4' %}
              {% trans 'hero-paragraph-5' %} <a href="#Shortcut">{% trans 'browsing' %}</a> {% trans 'hero-paragraph-6' %}
            </p>
            <div class="hero-menu">
              {% if request.user.is_authenticated %}
                <form class="flex-row center" method="GET" action="{% url 'home' %}">
                  <input type="text" name="s" class="hero-search" placeholder="&#xF002; {% trans 'hero-search' %}" style="font-family:Arial, FontAwesome"/> 
                  <button class="btn-primary flex-row">
                    {% trans 'search'|capfirst %}
                  </button>
                </form>
                <button onclick="location.href=`{% url 'word:create' %}`" class="btn-tertiary">{% trans 'add-definition' %}</button>
              {% else %}
                <button onclick="location.href=`{% url 'register' %}`" class="btn-primary">{% trans 'Register' %}</button>
                <button onclick="location.href=`{% url 'login' %}`" class="btn-secondary">{% trans 'Login' %}</button>
              {% endif %}
            </div>
          </div>

          <div class="hero-image">
            <img src="{% static 'images/Urban Dictionary Mascot_1.png' %}" class="img-1 animate floating animate--infinite animate--slowest"/>
            <img src="{% static 'images/Urban Dictionary Mascot_2.png' %}" class="img-2 animate floating animate--infinite animate--slow"/>
            <img src="{% static 'images/Urban Dictionary Mascot_3.png' %}" class="img-3 animate floating animate--infinite animate--slow"/>
            <img src="{% static 'images/Urban Dictionary Mascot_4.png' %}" class="img-4 animate floating animate--infinite animate--slow"/>
          </div>
        </section>
        
        <section class="popular-categories">
          <h4><i class="fa fa-bolt" aria-hidden="true"></i> {% trans 'popular-topic' %}</h4><br>
          <div class="tag-horizontal" id="Shortcut">
            {% for tags in filter|slice:"5" %}
              <button onclick="location.href=`{% url 'home' %}?q={{ tags.name }}`" class="btn-primary">
                <span>{{ tags.name }}</span>
                <span class="btn-badge">{{ tags.word_count }}</span>
              </button>
            {% endfor %}
            <h5>{% trans 'or' %}</h5>
            <button onclick="togglePopUp()" class="btn btn-primary">
              {% trans 'browse-tag' %}
            </button>
          </div>
        </section>
      {% endif %}

      <!-- Word Content -->
      <div class="content-split padding-side-20">
        <div class="sidebar padding-side-20">
          <h4><i class="fa fa-cubes" aria-hidden="true"></i> {% trans 'word-categories' %}</h4>

          {% for tags in filter %}
            <a href="{% url 'home' %}?q={{ tags.name }}" class="space-between margin-5">
              <span class="font-weight-600">{{ tags.name }}</span>
              <span class="btn-icon">{{ tags.word_count }}</span>
            </a>
          {% endfor %}
        </div>
        
        <section>
        <!-- <h2>WoTD! - Word of The Day</h2> -->
          {% for instance in object_list %}
          <div class="word-list" id="List-Words">
            <div class="word-def">
              <h4>
                <a style="font-weight: bold;" href="{{ instance.get_absolute_url }}">{{ instance.word }}</a>
                <button class="borderless-trans font-weight-600" onclick="playSound('{{ instance.pronunciation.pronunciation.url }}')"> <!-- location.href=`{% url 'word:speech' pk=instance.pk %}` -->
                  <i class="fa fa-volume-up" aria-hidden="true"></i>
                </button>
              </h4>

              <p>{{ instance.definition|linebreaks }}</p>
              {% for tag in instance.tags.all %}
                <a href="{% url 'home' %}?q={{ tag.name }}" style="margin-right: 5px; display: inline; text-wrap:inherit;">• {{ tag.name }}</a>
              {% endfor %}
            </div>

            <div class="word-detail">
              <div class="rating" data-rating="{{ instance.rating }}"></div>
              <p><i class="fa fa-user-o" aria-hidden="true"></i> {% trans 'by'|capfirst %} <a href="{% url 'user' pk=instance.user.id %}">{{ instance.user }}</a></p>
              <p><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ instance.date }}</p>
            </div>

            <div class="word-interact">
              <div class="flex-row">
                <button class="borderless-trans font-weight-600" id="positive" onclick="location.href=`{% url 'word:upvotes' word_id=instance.pk %}`, toggleP()"><h5>
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                  {{ instance.up }}
                </h5></button>

                <button class="borderless-trans font-weight-600" id="negative" onclick="location.href=`{% url 'word:downvotes' word_id=instance.pk %}`, toggleN()"><h5>
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                  {{ instance.down }}
                </h5></button>
              </div>

              <button class="btn-tertiary" onclick="location.href=`{% url 'database:form' instance.pk %}`">
                {% trans 'report'|capfirst %} <i class="fa fa-flag" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          {% endfor %}
        </section>
      </div>
    </div>
{% endif %}

  <!-- ------------------ -->
  <!-- Right Side Content -->
  <!-- ------------------ -->
  <!-- <div class="rside-content">
    {% if request.user.is_authenticated %}
      <p style="font-weight: bold; margin-top: 72px; margin-bottom: 80px;">Buat definsi kata sekarang!</p>
      <div class="content-button">
        <button onclick="location.href=`{% url 'word:create' %}`" class="rsc-rbtn">Tambah Definisi</button>
        <button onclick="location.href=`{% url 'logout' %}`" class="rsc-lbtn">Logout</button>
      </div>
    {% else %}
      <p style="font-weight: bold; margin-top: 87px; margin-bottom: 90px;">Buat akunmu sekarang!</p>
      <div class="content-button">
        <button onclick="location.href=`{% url 'register' %}`" class="rsc-rbtn">Register</button>
        <button onclick="location.href=`{% url 'login' %}`" class="rsc-lbtn">Login</button>
      </div>
    {% endif %}
  </div> -->
</div>

<div class="bottom-bar">®2023</div>  
{% endblock %}