{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}

<div class="container">
    {% if page == 'login' %}
    <form class="form" method="POST" action="">
        {% csrf_token %}
        <div class="form-header">
            <header>{% trans 'Login' %}</header>
        </div>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </ul>
        {% endif %}
        
        <input type="text" class="input-box" name="username" placeholder="{% trans 'username' %}"/>
        <input type="password" class="input-box" name="password" placeholder="{% trans 'password1' %}"/>

        <div class="input-submit margin-top-10">
            <input type="submit" class="btn-primary" value="{% trans 'Login' %}"/>
        </div>
        <br>

        <a href="{% url 'password_reset' %}">{% trans 'forgot-pass' %}?</a>
    </form>

    {% else %}
    <form class="form" method="POST" action="">
        {% csrf_token %}
        <div class="form-header">
            <header>{% trans 'Register' %}</header>
        </div>
        
        {% if form.errors %}
            <ul class="messages">
                {% for field, errors in form.errors.items %}
                    {% for message in errors %}
                        {{ message }}<br>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        
        {% render_field form.username class+="input-box" placeholder=form.username.label %}
        {% render_field form.email class+="input-box" placeholder=form.email.label %}
        {% render_field form.password1 class+="input-box" placeholder=form.password1.label %}
        {% render_field form.password2 class+="input-box" placeholder=form.password2.label %}
        {% if request.user.is_superuser %}
        <div class="flex-row">
            <input class="checkbox" type="checkbox" id="admin" value="Admin" name="checked">
            <label for="admin">{% trans 'admin-usr' %}</label>
        </div>
        {% endif %}
        
        <ul>
            <li>
                {% trans 'pass-condition-1' %}
            </li>
            <li>
                {% trans 'pass-condition-2' %}
            </li>
        </ul>
        <input type="submit" class="btn-primary" value="{% trans 'Register' %}"/>
    </form>
    {% endif %}
</div>
{% endblock %}