{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="container">
    {% if page == 'login' %}
    <div class="form">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-header">
                <header>Login</header>
            </div>

            <ul class="messages">
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </ul>

            <input type="text" class="input-box" name="username" placeholder="Nama"/>
            <br>
            <input type="password" class="input-box" name="password" placeholder="Kata sandi"/>
            <br>

            <div class="input-submit">
                <input type="submit" class="btn-submit" value="Masuk"/>
            </div>
            <br>

            <a href="{% url 'password_reset' %}">Lupa kata sandi?</a>

        </form>
    </div>

    {% else %}
    <div class="form">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-header">
                <header>Daftar Akun Baru</header>
            </div>
            
            <ul class="messages">
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </ul>
            
            {% render_field form.username placeholder="Nama pengguna" class+="input-box" %}<br>
            {% render_field form.email placeholder="Email" class+="input-box" %}<br>
            {% render_field form.password1 placeholder="Kata sandi" class+="input-box" %}<br>
            {% render_field form.password2 placeholder="Kata sandi konfirmasi" class+="input-box" %}
            
            <ul>
                <li>
                    Kata sandi harus memiliki 8 karakter atau lebih.
                </li>
                <li>
                    Kata sandi tidak bisa hanya numerik.
                </li>
            </ul>

            <input type="submit" class="btn-submit" value="Selesai"/>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}