{% load static %}

<nav class="navbar navbar-default">
    <ul class="navbar-list">
        <li>
            <a href="/" class="navbar_logo">
                <img src="{% static 'images/Urban-ID.svg' %}" width="145" height="64"/>
            </a>
        </li>
        <li class="dropdown">
            <button onclick="dropFunc()", class="dropBtn">Browse
                <i class="fa fa-caret-down"></i>
            </button>
            <div id="menu" class="ddcontent">
                <ul>
                    <li>
                        <a href="{% url 'home' %}?b=a">a</a>
                        <a href="{% url 'home' %}?b=b">b</a>
                        <a href="{% url 'home' %}?b=c">c</a>
                        <a href="{% url 'home' %}?b=d">d</a>
                        <a href="{% url 'home' %}?b=e">e</a>
                        <a href="{% url 'home' %}?b=f">f</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}?b=g">g</a>
                        <a href="{% url 'home' %}?b=h">h</a>
                        <a href="{% url 'home' %}?b=i">i</a>
                        <a href="{% url 'home' %}?b=j">j</a>
                        <a href="{% url 'home' %}?b=k">k</a>
                        <a href="{% url 'home' %}?b=l">l</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}?b=m">m</a>
                        <a href="{% url 'home' %}?b=n">n</a>
                        <a href="{% url 'home' %}?b=o">o</a>
                        <a href="{% url 'home' %}?b=p">p</a>
                        <a href="{% url 'home' %}?b=q">q</a>
                        <a href="{% url 'home' %}?b=r">r</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}?b=s">s</a>
                        <a href="{% url 'home' %}?b=t">t</a>
                        <a href="{% url 'home' %}?b=u">u</a>
                        <a href="{% url 'home' %}?b=v">v</a>
                        <a href="{% url 'home' %}?b=w">w</a>
                        <a href="{% url 'home' %}?b=x">x</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}?b=y">y</a>
                        <a href="{% url 'home' %}?b=z">z</a>
                        <a href="{% url 'home' %}?a=">#</a>
                        <a href="{% url 'home' %}?n=">new</a>
                    </li>
                </ul>
                
            </div>
        </li>
        {% if request.user.is_superuser %}
        <li><a href="{% url 'database:database' %}" style="color: #402E32;"><button class="btn-nav">Admin</button></a></li>
        {% endif %}
        <li>
            <form method="GET" action="{% url 'home' %}">
                <input type="text" name="s" class="search-form"/> 
                <button class="btn-search">Cari</button>
            </form>
        </li>
        <li><a href="{% url 'about' %}" style="color: #402E32;"><button class="btn-nav">Mengenai Kamus</button></a></li>
    </ul>
</nav>

<script>
function dropFunc() {
  document.getElementById("menu").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropBtn')) {
    var dropdowns = document.getElementsByClassName("ddcontent");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>