{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div class="container">
    <form class="form" method="POST" action="">
        {% csrf_token %}
        <div class="form-header">
            <header>{% trans 'profile-page' %}</header>
        </div>

        {% render_field form.username class+="input-box" placeholder=form.username.label %}
        {% render_field form.email class+="input-box" placeholder=form.email.label %}
        {{ form.password }}
        <p>{{ form.password.help_text|safe }}</p> 

        <div class="input-submit margin-top-10">
            <input type="submit" class="btn-primary" value="{% trans 'submit' %}"/>
        </div>
    </form>
</div>

<div class="loader"></div>
{% endblock %}