{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="form">
    <div class="tab-box">
        <button onclick="window.location.href=`{% url 'edit_usr' %}`" class="tab-btn active">{% trans 'profile-page' %}</button>
        <button onclick="window.location.href=`{% url 'password_change' request.user.id %}`" class="tab-btn">{% trans 'pass-submit' %}</button>
        <div class="line"></div>
    </div>
    
    <div class="content_box">
        <div class="tab-content active">
            <form method="POST" action="">
                {% csrf_token %}
                {% render_field form.username class+="input-box" placeholder=form.username.label %}
                {% render_field form.email class+="input-box" placeholder=form.email.label %}
            
                <div class="input-submit margin-top-10">
                    <input type="submit" class="btn-primary" value="{% trans 'submit' %}"/>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

<div class="loader"></div>
{% endblock %}