{% extends 'admin/base.html' %}
{% load i18n %}

{% block extrahead %}
{{ block.super }} 
<style>
    .laguage-form {
        display: inline-block;
    }
    .laguage-label {
        display: inline-block;
        margin-right: 5px;
    }
    .laguage-select {
        display: inline-block;
    }
</style>
{% endblock %}

{% block userlinks %}
 {{ block.super }}

 <form class="laguage-form" id="languageForm" method="POST" action="{% url 'set_language' %}">
    {% csrf_token %}
    <label class="laguage-label" for="language">Lang:</label>
    <select class="laguage-select" name="language" id="language" onchange="changeLanguage(this.value)">
        {% for lang_code, lang_name in LANGUAGES %}
            {% if lang_code == LANGUAGE_CODE %}
                <option value="{{ lang_code }}" selected>{{ lang_name }}</option>
            {% else %}
                <option value="{{ lang_code }}">{{ lang_name }}</option>
            {% endif %}
        {% endfor %}
    </select>
 </form>

<script>
    // Can't be in the main javascript file, because django's administration js is seperated from the main js.
    function changeLanguage(languageCode) {
        const form = document.getElementById('languageForm');
        form.elements.language.value = languageCode;
        form.submit();
    }
</script>
{% endblock %}
