{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

{% if page == 'word' %}

    <!-- Word Create & Edit -->
    <form action="." method="POST" enctype="multipart/form-data"> 
        <div class="word-submit">
        {% csrf_token %}
        <header>Formulir Kata</header>

        {% render_field form.word placeholder="Word" class+="input-box" %}<br>
        {% render_field form.definition placeholder="Definition" class+="input-description" %}<br>
        {% render_field form.tags %}

        <input type="submit" value="save" class="btn-submit"/>
        </div>
    </form>

    {% elif page == 'tag' %}
    <!-- Tag Create -->
    <form action="{% url 'word:tag' %}" method="POST">
        <div class="word-submit">
        {% csrf_token %}
        <header>Formulir Tag</header>

        {% render_field form.name placeholder="Tag" class+="input-box" %}

        <input type="submit" value="save" class="btn-submit"/>
        </div>
    </form>

    {% else %}
    <!-- Tag Edit -->
    <form action="." method="POST"> 
        <div class="word-submit">
        {% csrf_token %}
        <header>Formulir Sunting</header>

        {% render_field form.name placeholder="Tag" class+="input-box" %}

        <input type="submit" value="save" class="btn-submit"/>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}