{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="section">
    <header>
        {% trans 'word-header' %} {{ object.word|capfirst }}

        <button class="borderless-trans font-weight-600" onclick="playSound('{{ object.pronunciation.pronunciation.url }}')">
            <i class="fa fa-volume-up" aria-hidden="true"></i>
        </button>
    </header>
    
    <div class="rating" data-rating="{{ object.rating }}"></div>
    <p>{% trans 'rating' %} {{ object.rating|floatformat:1 }}</p>
    <p>{% trans 'created-date' %} {{ object.date }} {% trans 'by' %} <a href="{% url 'user' object.user.id %}">{{ object.user }}</a></p>

    <div class="scroll">{{ object.definition|linebreaks }}</div>

    <p>{% trans 'tags' %}:</p>
    <ul class="mscroll">
    {% for tag in object.tags.all %}
        <li><a href="{% url 'home' %}?q={{ tag.name }}">
            {{ tag.name }}
        </a></li>
    {% endfor %}
    </ul>

    <div class="word-interact">
        <div class="flex-row margin-5">
            <button class="borderless-trans " id="positive" onclick="location.href=`{% url 'word:upvotes' word_id=object.pk %}`, toggleP()"><h5>
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                {{ object.up }}
            </h5></button>

            <button class="borderless-trans " id="negative" onclick="location.href=`{% url 'word:downvotes' word_id=object.pk %}`, toggleN()"><h5>
                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                {{ object.down }}
            </h5></button>
        </div>

        <div class="word-interactions">
            {% if request.user == object.user or request.user.is_superuser %}
                <button class="btn-tertiary" onclick="location.href=`{% url 'word:edit' object.pk %}`">
                    {% trans 'edit' %} <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button class="btn-tertiary danger-border" onclick="location.href=`{% url 'word:delete' object.pk %}`" class="btn-submit">
                    {% trans 'delete' %} <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            {% endif %}
            <button class="btn-tertiary" onclick="location.href=`{% url 'database:form' object.pk %}`">
                {% trans 'report'|capfirst %} <i class="fa fa-flag" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
{% endblock %}  