{% extends 'base.html' %}

{% block content %}
<form class="word-submit" action='' method="POST">
    {% csrf_token %}
    {% if page == 'tag' %}
    <header>Apakah betul mau dihapus {{ object.name }}?</header><br>
    <div style="flex-direction: row;">    
        <input class="btn-submit" type="submit" value="Betul"> <a class="btn-submit" href="{% url 'database:database' %}">Batal</a>
    </div>
    {% else %}
    <h1>Apakah betul mau dihapus {{ object.word }}?</h1>
    <div style="flex-direction: row;">
        <input class="btn-submit" type="submit" value="Betul"> <a class="btn-submit" href="{% url 'word:word' object.pk %}">Batal</a>
    </div>
    {% endif %}
</form>
{% endblock %}