{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}

{% if page == 'word' %}

    <!-- Word Create & Edit -->
    <form action="." method="POST" enctype="multipart/form-data"> 
        <div class="word-submit">
        {% csrf_token %}
        <div class="form-header">
            <header>{% trans 'word-form-head' %}</header>
        </div>

        {% if form.errors %}
            <ul class="messages">
                {% for field, errors in form.errors.items %}
                    {% for message in errors %}
                        {{ message }}<br>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        {% render_field form.word placeholder=form.word.label class+="input-box" %}
        {% render_field form.definition placeholder=form.definition.label class+="input-description" %}
        {% render_field form.tags class+="mscroll checkbox margin-5" %}<br>

        <input type="submit" value="{% trans 'submit' %}" class="btn-primary"/>
        </div>
    </form>

    {% elif page == 'tag' %}
    <!-- Tag Create -->
    <form action="{% url 'word:tag' %}" method="POST">
        <div class="word-submit">
        {% csrf_token %}
        <div class="form-header">
            <header>{% trans 'tag-form-head' %}</header>
        </div>

        {% render_field form.name placeholder=form.name.label class+="input-box" %}<br>

        <input type="submit" value="{% trans 'submit' %}" class="btn-primary"/>
        </div>
    </form>

    {% else %}
    <!-- Tag Edit -->
    <form action="." method="POST"> 
        <div class="word-submit">
        {% csrf_token %}
        <div class="form-header">
            <header>{% trans 'tag-fedit-head' %}</header>
        </div>

        {% render_field form.name placeholder=form.name.label class+="input-box" %}<br>

        <input type="submit" value="{% trans 'submit' %}" class="btn-primary"/>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}