{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div class="container">
{% if page == 'word' %}
    <!-- Word Create & Edit -->
    <form class="form" action="." method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
        <div class="form-header">
            <header>{% trans 'word-form-head' %}</header>
        </div>

        {% if form.errors %}
            <ul class="messages">
                {% for field, errors in form.errors.items %}
                    {% for message in errors %}
                        {{ message }}<br>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        {% render_field form.word placeholder=form.word.label class+="input-box" %}
        {% render_field form.definition placeholder=form.definition.label class+="input-description" %}
        {% render_field form.tags class+="input-box" id+="selecttag" %}<br>

        <input type="submit" value="{% trans 'submit' %}" class="btn-primary"/>
    </form>

{% elif page == 'tag' %}
    <!-- Tag Create -->
    <form class="form" action="{% url 'word:tag' %}" method="POST">
        {% csrf_token %}
        <div class="form-header">
            <header>{% trans 'tag-form-head' %}</header>
        </div>

        {% if form.errors %}
            <ul class="messages">
                {% for field, errors in form.errors.items %}
                    {% for message in errors %}
                        {{ message }}<br>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        {% render_field form.name placeholder=form.name.label class+="input-box" %}<br>

        <ul>
            {% trans 'tags-condition' %}
        </ul>
        <input type="submit" value="{% trans 'submit' %}" class="btn-primary"/>
    </form>

{% else %}
    <!-- Tag Edit -->
    <form class="form" action="." method="POST"> 
        {% csrf_token %}
        <div class="form-header">
            <header>{% trans 'tag-fedit-head' %}</header>
        </div>

        {% if form.errors %}
            <ul class="messages">
                {% for field, errors in form.errors.items %}
                    {% for message in errors %}
                        {{ message }}<br>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        {% render_field form.name placeholder=form.name.label class+="input-box" %}<br>
        
        <ul>
            {% trans 'tags-condition' %}
        </ul>
        <input type="submit" value="{% trans 'submit' %}" class="btn-primary"/>
    </form>
{% endif %}
</div>

<div class="loader"></div>
{% endblock %}

{% block scripts %}
<script>
    $("#id_tags").select2();
</script>
{% endblock %}