{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
    <form class="form" action='' method="POST">
        {% csrf_token %}
        {% if page == 'tag' %}
	<div class="form-header">
            <header>{% trans 'del-header' %} {{ object.name }}?</header>
	</div>
        <div class="flex-row">    
            <input class="btn-tertiary danger-border" type="submit" value="{% trans 'delete' %}"> <a class="btn-tertiary" href="{% url 'database:database' %}#Tag">{% trans 'cancel' %}</a>
        </div>
        {% else %}
	<div class="form-header">
            <header>{% trans 'del-header' %} {{ object.word }}?</header>
	</div>
        <div class="flex-row">
            <input class="btn-tertiary danger-border" type="submit" value="{% trans 'delete' %}"> <a class="btn-tertiary" href="{% url 'word:word' object.pk %}">{% trans 'cancel' %}</a>
        </div>
        {% endif %}
    </form>
</div>

<div class="loader"></div>
{% endblock %}