{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="form">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-header">
                <header>Ubah Kata Sandi</header>
            </div>

            <ul class="messages">
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </ul>

            {% render_field form.email placeholder="Email" class+="input-box" %}

            <div class="input-submit">
                <input type="submit" class="btn-submit" value="Ubah Kata Sandi"/>
            </div>

        </form>
    </div>
{% endblock %}