{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div class="container">
    <form class="form" method="POST" action="">
        {% csrf_token %}
        <div class="form-header">
            <header>{% trans 'pass-submit' %}</header>
        </div>

        {% if form.errors %}
            <ul class="messages">
                {% for field, errors in form.errors.items %}
                    {% for message in errors %}
                        {{ message }}<br>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        {% render_field form.old_password placeholder=form.old_password.label class+="input-box" id+="password0" %}
        <i class="fa fa-eye-slash" aria-hidden="true" id="eye-icon0" style="position: absolute;top:34.5%; left: 76%;"></i>
        {% render_field form.new_password1 placeholder=form.new_password1.label class+="input-box" id+="password1" %}
        <i class="fa fa-eye-slash" aria-hidden="true" id="eye-icon1" style="position: absolute;top:45.9%; left: 76%;"></i>
        {% render_field form.new_password2 placeholder=form.new_password2.label class+="input-box" id+="password2" %}
        <i class="fa fa-eye-slash" aria-hidden="true" id="eye-icon2" style="position: absolute;top:57.5%; left: 76%;"></i>
        
        <ul>
            <li>
                {% trans 'pass-condition-1' %}
            </li>
            <li>
                {% trans 'pass-condition-2' %}
            </li>
        </ul>
        <div class="input-submit margin-top-10">
            <input type="submit" class="btn-primary" value="{% trans 'submit' %}"/>
        </div>
    </form>
</div>

<div class="loader"></div>
{% endblock %}