{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="form">
    <div class="tab-box">
        <button onclick="window.location.href=`{% url 'edit_usr' %}`" class="tab-btn">{% trans 'profile-page' %}</button>
        <button onclick="window.location.href=`{% url 'password_change' request.user.id %}`" class="tab-btn active">{% trans 'pass-submit' %}</button>
        <div class="line right"></div>
    </div>
    
    <div class="content_box">
        <div class="tab-content active">
            <form method="POST" action="">
                {% csrf_token %}
                {% if form.errors %}
                    <ul class="messages">
                        {% for field, errors in form.errors.items %}
                            {% for message in errors %}
                                {{ message }}<br>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
                
                <div class="relative width-fit">
                    {% render_field form.old_password placeholder=form.old_password.label class+="input-box" id+="password0" %}
                    <i class="fa fa-eye-slash" aria-hidden="true" id="eye-icon0" style="position: absolute;top:30%; left: 85%;"></i>
                </div>
                
                <div class="relative width-fit">
                    {% render_field form.new_password1 placeholder=form.new_password1.label class+="input-box" id+="password1" %}
                    <i class="fa fa-eye-slash" aria-hidden="true" id="eye-icon1" style="position: absolute;top:30%; left: 85%;"></i>
                </div>

                <div class="relative width-fit">
                    {% render_field form.new_password2 placeholder=form.new_password2.label class+="input-box" id+="password2" %}
                    <i class="fa fa-eye-slash" aria-hidden="true" id="eye-icon2" style="position: absolute;top:30%; left: 85%;"></i>
                </div>
                
                <dl>
                    <dt>
                        {% trans 'pass-condition-1' %}
                    </dt>
                    <dt>
                        {% trans 'pass-condition-2' %}
                    </dt>
                </dl>
                <div class="input-submit margin-top-10">
                    <input type="submit" class="btn-primary" value="{% trans 'submit' %}"/>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

<div class="loader"></div>
{% endblock %}