{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div class="container">
    {% if 'set-password' in request.path %}
        <form class="form" method="POST" action="">
            {% csrf_token %}
            <div class="form-header">
                <header>{% trans 'pass-header' %}</header>
            </div>
    
            {% if form.errors %}
            <ul class="messages">
                {% for field, errors in form.errors.items %}
                    {% for message in errors %}
                        {{ message }}<br>
                    {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}
            
            <div class="relative width-fit">
                {% render_field form.new_password1 placeholder=form.new_password1.label class+="input-box" %}
                <i class="fa fa-eye-slash" aria-hidden="true" id="eye-icon1" style="position: absolute;top:30%; left: 85%;"></i>
            </div>
            <div class="relative width-fit">
                {% render_field form.new_password2 placeholder=form.new_password2.label class+="input-box" %}
                <i class="fa fa-eye-slash" aria-hidden="true" id="eye-icon2" style="position: absolute;top:30%; left: 85%;"></i>
            </div>
    
            <div class="input-submit margin-top-10">
                <input type="submit" class="btn-primary" value="{% trans 'pass-submit' %}"/>
            </div>
    
        </form>
    {% else %}
    <div class="form">
        <div class="form-header">
            <header>{% trans 'pfail-header' %}</header>
        </div>
        <p>
            {% trans 'pfail-message' %}
        </p>
        <div class="input-submit">
            <button onclick="location.href=`{% url 'password_reset' %}`" class="btn-primary">{% trans 'forgot-pass' %}</button>
        </div>
    </div>
    {% endif %}
</div>

<div class="loader"></div>
{% endblock %}