{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="form">
        <div class="form-header">
            <header>Link reset kata sandi dikirim</header>
        </div>

        <p>
            Email telah dikirim untuk mengubah kata sandi Anda, jika ada akun dengan email yang Anda telah masuki. Anda akan segera menerimanya. <br>
            Jika Anda tidak menerima email, diharap pastikan Anda telah memasukkan alamat email yang Anda masukan, dan periksa folder spam Anda.
        </p>
    </div>
{% endblock %}