{% extends 'base.html' %}

{% block content %}
{% if request.user.is_superuser %}
<form class="word-submit" action='' method="POST">
    {% csrf_token %}
    {% if page == 'delete' %}
        <header>Apakah betul mau dihapus laporan oleh {{ object.user }}, untuk kata {{ object.word }}?</header><br>
        <div style="flex-direction: row;">
            <input type="submit" class="btn-submit" value="Betul"> <a class="btn-submit" href="{% url 'database:list' %}">Batal</a>
        </div>
    {% else %}
        <header>Apakah betul mau hapus {{ object.name }}?</header><br>
        <div style="flex-direction: row;">
            <input type="submit" class="btn-submit" value="Betul"> <a class="btn-submit" href="{% url 'database:list' %}">Batal</a>
        </div>
    {% endif %}
</form>
{% else %}
<div class="word-submit">
    <h1>You are not the admin!</h1>
</div>
{% endif %}
{% endblock %}