{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% if request.user.is_superuser %}
<form class="word-submit" action='' method="POST">
    {% csrf_token %}
    {% if page == 'delete' %}
        <header>{% trans 'del-report-header-1' %} {{ object.user }}, {% trans 'del-report-header-2' %} "{{ object.word }}"?</header><br>
        <div class="flex-row">
            <input type="submit" class="btn-tertiary danger-border" value="{% trans 'delete' %}"> <a class="btn-tertiary" href="{% url 'database:list' %}">{% trans 'cancel' %}</a>
        </div>
    {% elif page == 'user' %}
        <header>{% trans 'del-user-header' %} {{ object.username }}?</header><br>
        <div class="flex-row">
            <input type="submit" class="btn-tertiary danger-border" value="{% trans 'delete' %}"> <a class="btn-tertiary" href="{% url 'database:database' %}">{% trans 'cancel' %}</a>
        </div>
    {% else %}
        <header>{% trans 'del-header' %} {{ object.name }}?</header><br>
        <div class="flex-row">
            <input type="submit" class="btn-tertiary danger-border" value="{% trans 'delete' %}"> <a class="btn-tertiary" href="{% url 'database:list' %}">{% trans 'cancel' %}</a>
        </div>
    {% endif %}
</form>
{% else %}
<div class="word-submit">
    <h1>Anda bukan admin!</h1>
</div>
{% endif %}
{% endblock %}