{% extends 'base.html' %}

{% block content %}
{% if page == 'form' %}
<!-- Report Create & Edit -->
<form action="." method="POST" enctype="multipart/form-data"> 
    {% csrf_token %}
    <h2>Lapor Kata {{ word.word|title }}</h2>
    {{ form.as_p }} 

    <input type="submit" value="save" />
</form>

{% elif page == 'censorship' %}
<!-- Censorship Create -->
<form action="{% url 'database:censor-create' %}" method="POST">
    {% csrf_token %}
    <h2>Kata yang akan disensor</h2>
    {{ form.as_p }}

    <input type="submit" value="save"/>
</form>

{% else %}
<!-- Censorship Edit -->
<form action="." method="POST">
    {% csrf_token %}
    <h2>Kata yang akan disensor</h2>
    {{ form.as_p }}

    <input type="submit" value="save"/>
</form>
{% endif %}
{% endblock %}